/*
vars
*/

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

/*
Mixins
*/


@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

/* Fonts -
regular 400
reguular 400 italic
bold 700
bold 700 italic
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

a {
    color: red;
    text-decoration: none !important;
    @include transition(.3s ease-in-out);
    cursor: pointer;

    &:hover {
        color:$red;
        @include transition(.3s ease-in-out);
    }
}


