.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}
.cell {
    padding: 1rem;
    background: orange;
}
.small-4 {
    grid-column: span 4;
}
.test2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-gap: 20px;

    .item1 {
        grid-column-start: 0;
        grid-column-end: 1;
    }


}
