// variables
$font-light: 300;
$font-bold: 700;

//colors
$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray:  #c4c4c4;
$orange: #f96855;

$accent: $orange;

$body-background: $black;
$menu-background: $gray;

$main-font-color: $light-gray;
$menu-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;


* {
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    height: 100%;
}
.item {
    background-color: $orange;
    height: 250px;
}



