@import "_config.scss";




header {
    position: relative;
    display: block;
    width: 100%;
    background: $black;
    color:$white;
    height: 100px;
    box-shadow: 1px 3px 6px rgb(117, 126, 129);

    .logo {
        // border: 1px solid yellow;
        position: absolute;
        font-size: 2.5rem;
        top: 50%; left: 15px;
        @include translateY(-50%);
    }
    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }
    nav {
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;
        }

        &.last {
            margin: 0;
        }

        a {
          font-size: 19px;
          line-height: normal;
          color: white;
        }
        li:last-child a {
            font-size: 16px;
            color: rgb(99, 197, 204);
            // font-size: 2rem;
        }
    }

}
.home {
    h1 {
        border-bottom: 3px solid darkcyan;
        width: 300px;
        padding: 5px;
    }
}
.testContainer {
    padding: 40px;
}
.imagename {
    display: flex;

    div {
        font-size: 1.5rem;
        margin-right: 10px;
    }
    input {
        border: 2px solid dodgerblue;
        border-radius: 10px;
    }
}
.admin-form {

    .active {
        background-color: orange;
    }
}





